body {
    font-family: "DMSans";
    margin: 0px;
    background-color: #F8F1EA;
}

.nectar_shape_divider {
    fill: #F8F1EA;
}

.nectar_shape_divider_wrap svg path:first-child {
    opacity: 0.1;
}

.nectar_shape_divider_wrap svg path:nth-child(2) {
    opacity: 0.12;
}

.nectar_shape_divider_wrap svg path:nth-child(3) {
    opacity: 0.18;
}

.nectar_shape_divider_wrap svg path:nth-child(4) {
    opacity: 0.33;
}

.nectar_shape_divider_wrap {
    position:absolute;
    bottom: 0px;
    height: inherit;
    width: 100%;
    z-index: -1;
}

.background_wrap {
    background-image: url("resourses/img/office_graphs.jpg");
    background-size: cover;
}

.office_background {
    min-height: 500px;
    background: linear-gradient(90deg,rgba(39,138,137,0.95) 0%,rgba(39,138,137,0.5) 100%);  opacity: 0.99; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-align_center {
    text-align: center;
}

@font-face {
  font-family: "DMSans";
  src: url(/resourses/fonts/DMSans/DMSans-Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "DMSans";
  src: url(/resourses/fonts/DMSans/DMSans-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "DMSans";
  src: url(/resourses/fonts/DMSans/DMSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DMSans";
  src: url(/resourses/fonts/DMSans/DMSans-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DMSans";
  src: url(/resourses/fonts/DMSans/DMSans-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "DMSans";
  src: url(/resourses/fonts/DMSans/DMSans-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "DMSans";
  src: url(/resourses/fonts/DMSans/DMSans-ThinItalic.ttf) format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "DMSans";
  src: url(/resourses/fonts/DMSans/DMSans-LightItalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "DMSans";
  src: url(/resourses/fonts/DMSans/DMSans-MediumItalic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "DMSans";
  src: url(/resourses/fonts/DMSans/DMSans-BoldItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "DMSans";
  src: url(/resourses/fonts/DMSans/DMSans-BlackItalic.ttf) format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Archia";
  src: url(/resourses/fonts/Archia/archia-regular-webfont.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

body h1 {
  font-family: "Archia";
  font-weight: 500;
}
body h2 {
  font-family: "Archia";
  font-weight: 600;
}
body h3 {
  font-family: "Archia";
  font-weight: 600;
}
body h4 {
  font-weight: 400;
}

.links {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.link-img {
    border-radius: 2rem;
    width: 80%;
}


.link {
    font-weight: 400;
    font-size: larger;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #df991b;
    text-decoration: underline;
    transition: color 200ms cubic-bezier(0.08,0.52,0.52,1);
}

.office_background > h1 {
    max-width: 1000px;
    font-size: 50px;
    color: white;
}

.office_background > h2 {
    max-width: 1000px;
    font-weight: 500;
    font-size: 20px;
    color: white;
}
