body {
    font-family: "DMSans";
    margin: 0px;
    background-color: #F8F1EA;
}

.page-title {
  text-align: center;
  font-family: "Archia", sans-serif;

  

  max-width: 1000px;
  font-size: 50px;
  color: white;
  line-height: 36px;
  padding-top: 150px;
}

.nectar_shape_divider {
    fill: #F8F1EA;
}

.nectar_shape_divider_wrap svg path:first-child {
    opacity: 0.1;
}

.nectar_shape_divider_wrap svg path:nth-child(2) {
    opacity: 0.12;
}

.nectar_shape_divider_wrap svg path:nth-child(3) {
    opacity: 0.18;
}

.nectar_shape_divider_wrap svg path:nth-child(4) {
    opacity: 0.33;
}

.nectar_shape_divider_wrap {
    position:absolute;
    bottom: 0px;
    height: inherit;
    width: 100%;
    z-index: -1;
}

.background_wrap {
    background-image: url("../img/office_graphs.jpg");
    background-size: cover;
}

.office_background {
    min-height: 500px;
    background: linear-gradient(90deg,rgba(39,138,137,0.95) 0%,rgba(39,138,137,0.5) 100%);  opacity: 0.99; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-align_center {
    text-align: center;
}

@font-face {
  font-family: "DMSans";
  src: url(/resources/fonts/DMSans/DMSans-Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "DMSans";
  src: url(/resources/fonts/DMSans/DMSans-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "DMSans";
  src: url(/resources/fonts/DMSans/DMSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DMSans";
  src: url(/resources/fonts/DMSans/DMSans-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DMSans";
  src: url(/resources/fonts/DMSans/DMSans-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "DMSans";
  src: url(/resources/fonts/DMSans/DMSans-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "DMSans";
  src: url(/resources/fonts/DMSans/DMSans-ThinItalic.ttf) format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "DMSans";
  src: url(/resources/fonts/DMSans/DMSans-LightItalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "DMSans";
  src: url(/resources/fonts/DMSans/DMSans-MediumItalic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "DMSans";
  src: url(/resources/fonts/DMSans/DMSans-BoldItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "DMSans";
  src: url(/resources/fonts/DMSans/DMSans-BlackItalic.ttf) format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Archia";
  src: url(/resources/fonts/Archia/archia-regular-webfont.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

body h1 {
  font-family: "Archia";
  font-weight: 500;
}
body h2 {
  font-family: "Archia";
  font-weight: 600;
}
body h3 {
  font-family: "Archia";
  font-weight: 600;
}
body h4 {
  font-weight: 400;
}

.links {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.link-img {
    border-radius: 2rem;
    width: 80%;
}


.link {
    font-weight: 400;
    font-size: larger;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #df991b;
    text-decoration: underline;
    transition: color 200ms cubic-bezier(0.08,0.52,0.52,1);
}

.office_background > h1 {
    max-width: 1000px;
    font-size: 50px;
    color: white;
    line-height: 36px;
    padding-top: 150px;
}



/* Agreement documents, delete these if not used in final */
:root {
  --font-size-normal-text: 14pt;
  --font-size-normal-header: 18pt;
  --font-size-big-header: 20pt;
  --font-family-document: 'Times New Roman', Times, serif;
}

.agreement-doc {
  width: 60%;  
}
.agreement-doc h3 {
  /*font-family: 'Times New Roman', Times, serif;*/
  font-family: var(--font-family-document);
  font-size: var(--font-size-normal-header);
} 
.agreement-doc ul {
  font-family: var(--font-family-document);
  font-size: var(--font-size-normal-text);
  line-height: normal;
} 
.agreement-doc ul li {
  font-family: var(--font-family-document);
  font-size: var(--font-size-normal-text);
  margin: 10px;
  padding: 0px;
  color: black;
} 
.agreement-doc p {
  font-family: var(--font-family-document);
  font-size: var(--font-size-normal-text);
  line-height: normal;
} 
.agreement-doc h4  {
  font-family: var(--font-family-document);
  font-size: var(--font-size-normal-header);
} 
.paragraph {
  white-space: nowrap;
}
.paragraph h4{
  font-family: var(--font-family-document);
  font-size: var(--font-size-normal-header);
}
.paragraph h3{
  font-family: var(--font-family-document);
  font-size: var(--font-size-normal-header);
}
.paragraph-big h1 {
  font-family: var(--font-family-document);
  font-size: var(--font-size-big-header);
}
.paragraph-big h2 {
  font-family: var(--font-family-document);
  font-size: var(--font-size-big-header);
}
.paragraph-text {  
  font-family: var(--font-family-document);
  font-size: var(--font-size-normal-text);
  margin-left: 20px;
  font-weight: normal;
  display: inline-block;
  white-space: break-spaces;
  vertical-align: top;

}

[data-theme='light'] .agreement-doc img {
  width: 250px;
  height: 111px;
  background-image: url("/static/img/signup_logo_black.png");
}
[data-theme='dark'] .agreement-doc img {
  width: 250px;
  height: 111px;
  background-image: url("/static/img/signup_logo.png");
}

.agreement-table table {
  width: 800px !important;
  border-spacing: 0;
  margin-top: 20px;
  
  border-collapse: collapse;
  border-style : hidden !important;
  border-spacing: 0 !important;  
  border: none;
}
.agreement-table table th {
  display: none;
  border-top: none;
  border-bottom: none;
  border: none;
  border-collapse: collapse;
}
.agreement-table table tr td {
  padding: 5px;
  padding-left: 20px;
  padding-right: 30px;

  border-collapse: collapse;
  border-style : hidden !important;
  border-spacing: 0 !important;  
  border: none;
}
.agreement-table img {
  width: 32px;
  height: 32px;
}
/* END Agreement documents, delete these if not used in final */


